{% extends "base.html" %}
{% block content %}
<div class="container">
    <h1 class="display-6 text-center mb-5">asd</h1>
    <div class="card">
        <div class="row">
            <div class="col-md-8">
                <textarea class="form-control z-depth-1" name="narrative" id="narrative"rows="10" placeholder="Enter narrative here..."></textarea>
                <button class="btn btn-success mt-3 mb-3 text-center" id="classify">Classify</button>
            </div>
            <div class="col-md-4"></div>
        </div>
        </div>
</div>

{% endblock %}