{% extends "base.html" %}
{% block content %}
<div class="container">
    <h1 class="display-6 text-center mb-5">Sample narrative</h1>
    
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Narrative</th>
                <th>Actual class</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Equifax mishandled my personal information including Name, Social Security #, Address, Birthdate, etc. resulting in a data breach in XXXX 2017 that they confirmed I was affected by per their " Potential Impact '' site www.equifaxsecurity2017.com. 

                    They have put myself and 143 million others at risk of identity theft/fraud due to negligent security protocols in handling consumer information. They are further attempting to capitalize on the situation by signing parties ( that THEY have injured ) up for " trial periods '' of their ID protection services. 
                    
                    They are simultaneously defrauding these injured parties with hidden terms of service that waive their right to sue the company in what is clearly a situation of criminal negligence/fraudulent behavior as indicated by the three Equifax executives that dumped stock immediately prior to the data breach announcement. 
                    
                    I demand that they rectify this by making credit freezing free and refunding everyone who paid for it following this data breach as well as paying restitution to those injured by this event. The negligent loss of personal information of hundreds of millions of consumers is an unconscionable breech of ethical behavior by this company and it is further unreasonable that they are not directly notifying every single person affected by this regardless of their questionable " judgment '' of who to contact.</td>
                <td>Credit Reporting</td>
            </tr>
            <tr>
                <td>Equifax mishandled my personal information including Name, Social Security #, Address, Birthdate, etc. resulting in a data breach in XXXX 2017 that they confirmed I was affected by per their " Potential Impact '' site www.equifaxsecurity2017.com. 

                    They have put myself and 143 million others at risk of identity theft/fraud due to negligent security protocols in handling consumer information. They are further attempting to capitalize on the situation by signing parties ( that THEY have injured ) up for " trial periods '' of their ID protection services. 
                    
                    They are simultaneously defrauding these injured parties with hidden terms of service that waive their right to sue the company in what is clearly a situation of criminal negligence/fraudulent behavior as indicated by the three Equifax executives that dumped stock immediately prior to the data breach announcement. 
                    
                    I demand that they rectify this by making credit freezing free and refunding everyone who paid for it following this data breach as well as paying restitution to those injured by this event. The negligent loss of personal information of hundreds of millions of consumers is an unconscionable breech of ethical behavior by this company and it is further unreasonable that they are not directly notifying every single person affected by this regardless of their questionable " judgment '' of who to contact.</td>
                <td>Loans</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>

</div>

{% endblock %}